{% extends 'layouts/base2.html' %}
	{% block content %}

		<!-- block-wrapper-section
			================================================== -->
		<section class="block-wrapper">

			<div class="container">
				<div class="row">
					<div class="col-sm-8">

						<!-- block content -->
						<div class="block-content">

							<!-- single-post box -->
							<div class="single-post-box">

								<div class="title-post">
									<h1>{{actu.title}} </h1>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>{{actu.date| date:"d F Y"}}</li>
										<li><i class="fa fa-user"></i>Par <a href="#">{{actu.author}}</a></li>
										<li><a href="#"><i class="fa fa-comments-o"></i><span>0</span></a></li>
										<li><i class="fa fa-eye"></i>872</li>
									</ul>
								</div>

								<div class="share-post-box">
									<ul class="share-box">
										<li><a class="facebook" href="#"><i class="fa fa-facebook"></i><span>Partager sur Facebook</span></a></li>
										<li><a class="twitter" href="#"><i class="fa fa-twitter"></i><span>Partager sur Twitter</span></a></li>
										<li><a class="google" href="#"><i class="fa fa-google-plus"></i><span></span></a></li>
										<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i><span></span></a></li>
									</ul>
								</div>

								<div class="post-gallery">
									<ul class="bxslider">
										<li><img src="{{actu.image.url}}" alt=""></li>
										{% if actu.image.2%}
										<li><img src="{{actu.image2.url}}" alt=""></li>
										{% endif %}
									</ul>
									<span class="image-caption">{{actu.legende}}</span>
								</div>

								<div class="post-content">

									<p>{{actu.body1|linebreaks }}</p>

									{% if actu.body2 %}
									<h2>{{actu.body2|linebreaks }} </h2>
									{% endif %}
									
								</div>

								<div class="post-gallery">
									{% if actu.image2 %}
									<img src="{{actu.image2.url}}" id="middle-post-gallery" alt="">
									<span class="image-caption">{{actu.legende2}}.</span>
									{% endif %}
								</div>

								<div class="post-content">

									{% if actu.body3 %}
									<p>{{actu.body3|linebreaks }}</p>
									{% endif %}

								</div>

								<div class="article-inpost">
									<div class="row">
										{% if actu.image3 %}
										<div class="col-md-6">
											<div class="image-content">
												<div class="image-place">
													<img src="{{actu.image3.url}}" alt="">
													<div class="hover-image">
														<a class="zoom" href="{{actu.image3.url}}"><i class="fa fa-arrows-alt"></i></a>
													</div>
												</div>
												<span class="image-caption">{{actu.legende3}}.</span>
											</div>
										</div>
										{% endif %}
										{% if actu.image %}
										<div class="col-md-6">
											<div class="image-content">
												<div class="image-place">
													<img src="{{actu.image.url}}" alt="">
													<div class="hover-image">
														<a class="zoom" href="{{actu.image.url}}"><i class="fa fa-arrows-alt"></i></a>
													</div>
												</div>
												<span class="image-caption">{{actu.legende}}.</span>
											</div>
										</div>
										{% endif %}
									</div>
								</div>


								<!-- contact form box -->
								<div class="contact-form-box">
									<div class="title-section">
										<h1><span>Commenter</span> <span class="email-not-published">Votre e-mail n'apparaîtra pas.</span></h1>
									</div>
									<form method="POST" id="comment-form">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-4">
												<label for="name">Nom & Prénom*</label>
												<input id="name" name="name" type="text">
											</div>
											<div class="col-md-4">
												<label for="mail">E-mail*</label>
												<input id="mail" name="email" type="text">
											</div>
										</div>
										<label for="comment">Commentaire*</label>
										<textarea id="comment" name="content"></textarea>
										<button type="submit" id="comment-actu" name="comment-actu">
											<i class="fa fa-comment"></i> Valider
										</button>
									</form>
								</div>
								<!-- End contact form box -->

							</div>
							<!-- End single-post box -->

						</div>
						<!-- End block content -->
						<div class="title-section">
							<h1><span>Commentaires</h1>
						</div>

						{% include 'layouts/comment.html' %}
					</div>

					<div class="col-sm-4">

						<!-- sidebar -->
						<div class="sidebar">

							{% include 'layouts/share.html' %}

							<div class="widget features-slide-widget">
								<div class="title-section">
									<h1><span>Autres actus</span></h1>
								</div>
								<div class="news-post standard-post2">
									{% for element in actus %}
									{% if forloop.counter == 2 and element != actu %}
									<div class="post-gallery">
										<img src="{{element.image.url}}" alt="">
									</div>
									<div class="post-title">
										<h2><a href="{% url 'home:actu' id=element.id %}">{{element.title}}</a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-clock-o"></i>{{element.date| date:"d F Y"}}</li>
											<li><i class="fa fa-user"></i>by <a href="#">{{element.author}}</a></li>
											<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
											<li><i class="fa fa-eye"></i>872</li>
										</ul>
									</div>
									<br>
									{% endif %}
									{% endfor %}
								</div>
							</div>

							{% include 'layouts/right_content.html' %}
							{% include 'layouts/video.html' %}
							{% include 'layouts/tags.html' %}

							

						</div>
						<!-- End sidebar -->

					</div>

				</div>

			</div>
		</section>
		<!-- End block-wrapper-section -->

	{% endblock %}