{% extends 'layouts/base2.html' %}
	{% block content %}


		<!-- block-wrapper-section
			================================================== -->
		<section class="block-wrapper">
			<div class="container">
				<div class="row">
					{% include 'layouts/all_article_cat.html' %}

					<div class="col-sm-4">

						<!-- sidebar -->
						<div class="sidebar">

						{% include 'layouts/share.html' %}

						{% include 'layouts/right_content2.html' %}

							

						{% include 'layouts/video.html'%}
						{% include 'layouts/tags.html'%}

						</div>
						<!-- End sidebar -->

					</div>

				</div>

			</div>
		</section>
		<!-- End block-wrapper-section -->

		{% endblock %}