{% extends 'layouts/base2.html' %}
	{% block content %}

		<!-- block-wrapper-section
			================================================== -->
		<section class="block-wrapper">

			<div class="container">
				<div class="row">
					<div class="col-sm-8">

						<!-- block content -->
						<div class="block-content">

							<!-- single-post box -->
							<div class="single-post-box">

								<div class="title-post">
									<h1>{{sport.title}} </h1>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>{{sport.date| date:"d F Y"}}</li>
										<li><i class="fa fa-user"></i>Par <a href="#">{{sport.author}}</a></li>
										<li><a href="#"><i class="fa fa-comments-o"></i><span>0</span></a></li>
										<li><i class="fa fa-eye"></i>872</li>
									</ul>
								</div>

								<div class="share-post-box">
									<ul class="share-box">
										<li><a class="facebook" href="#"><i class="fa fa-facebook"></i><span>Partager sur Facebook</span></a></li>
										<li><a class="twitter" href="#"><i class="fa fa-twitter"></i><span>Partager sur Twitter</span></a></li>
										<li><a class="google" href="#"><i class="fa fa-google-plus"></i><span></span></a></li>
										<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i><span></span></a></li>
									</ul>
								</div>

								<div class="post-gallery">
									<ul class="bxslider">
										<li><img src="{{sport.image.url}}" alt=""></li>
										<li><img src="{{sport.image.url}}" alt=""></li>
									</ul>
									<span class="image-caption">{{sport.legende}}</span>
								</div>

								<div class="post-content">

									<p>{{sport.body1|linebreaks }}</p>

									{% if sport.body2 %}
									<h2>{{sport.body2|linebreaks }} </h2>
									{% endif %}
									
								</div>

								<div class="post-gallery">
									{% if sport.image2 %}
									<img src="{{sport.image2.url}}" id="middle-post-gallery" alt="">
									<span class="image-caption">{{sport.legende2}}.</span>
									{% endif %}
								</div>

								<div class="post-content">

									{% if sport.body3 %}
									<p>{{sport.body3|linebreaks }}</p>
									{% endif %}

								</div>

								<div class="article-inpost">
									<div class="row">
										{% if sport.image3 %}
										<div class="col-md-6">
											<div class="image-content">
												<div class="image-place">
													<img src="{{sport.image3.url}}" alt="">
													<div class="hover-image">
														<a class="zoom" href="{{sport.image3.url}}"><i class="fa fa-arrows-alt"></i></a>
													</div>
												</div>
												<span class="image-caption">{{sport.legende3}}.</span>
											</div>
										</div>
										{% endif %}
										{% if sport.image %}
										<div class="col-md-6">
											<div class="image-content">
												<div class="image-place">
													<img src="{{sport.image.url}}" alt="">
													<div class="hover-image">
														<a class="zoom" href="{{sport.image.url}}"><i class="fa fa-arrows-alt"></i></a>
													</div>
												</div>
												<span class="image-caption">{{sport.legende}}.</span>
											</div>
										</div>
										{% endif %}
									</div>
								</div>


								<!-- contact form box -->
								<div class="contact-form-box">
									<div class="title-section">
										<h1><span>Commenter</span> <span class="email-not-published">Votre e-mail n'apparaîtra pas.</span></h1>
									</div>
									<form id="comment-form">
										<div class="row">
											<div class="col-md-4">
												<label for="name">Nom & Prénom*</label>
												<input id="name" name="name" type="text">
											</div>
											<div class="col-md-4">
												<label for="mail">E-mail*</label>
												<input id="mail" name="mail" type="text">
											</div>
										</div>
										<label for="comment">Commentaire*</label>
										<textarea id="comment" name="comment"></textarea>
										<button type="submit" id="submit-contact">
											<i class="fa fa-comment"></i> Commentaires
										</button>
									</form>
								</div>
								<!-- End contact form box -->

							</div>
							<!-- End single-post box -->

						</div>
						<!-- End block content -->

					</div>
					<div class="col-sm-4">

						<!-- sidebar -->
						<div class="sidebar">
							{% include 'layouts/share.html' %}

							<div class="widget features-slide-widget">
								<div class="title-section">
									<h1><span>JOUEUR DU MOIS</span></h1>
								</div>
								{% for element in player_of_week %}
								{% if forloop.counter == 1 %}
								<div class="news-post standard-post2">
									<div class="post-gallery">
										<img src="{{element.image.url}}" alt="">
									</div>
									<div class="post-title">
										<h2><a href="single-post.html">{{element.title}}</a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-user"></i>by <a href="#">{{element.author}}</a></li>
											<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
											<li><i class="fa fa-eye"></i>872</li>
										</ul>
									</div>
								</div>
								{% endif %}
								{% endfor %}
							</div>

							<div class="widget tab-posts-widget">

								<ul class="nav nav-tabs" id="myTab">
									<li class="active">
										<a href="#option1" data-toggle="tab">Gametime</a>
									</li>
									<li>
										<a href="#option2" data-toggle="tab">Culture</a>
									</li>
									<li>
										<a href="#option2" data-toggle="tab">Evènements</a>
									</li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="option1">
										<ul class="list-posts">
										{% for element in posts %}
										{% if forloop.counter < 6 %}
											<li>
												<img src="{{element.image.url}}" alt="">
												<div class="post-content">
													<h2><a href="single-post.html">{{element.title}} </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>{{element.date}}</li>
													</ul>
												</div>
											</li>
										{% endif %}
										{% endfor %}
										</ul>
									</div>
									<div class="tab-pane" id="option2">
										<ul class="list-posts">
											{% for element in cultures %}
											{% if forloop.counter < 6 %}
											<li>
												<img src="{{element.image.url}}" alt="">
												<div class="post-content">
													<h2><a href="single-post.html">{{element.title}}</a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>{{element.date}}</li>
													</ul>
												</div>
											</li>
											{% endif %}
											{% endfor %}
										</ul>
									</div>
									<div class="tab-pane" id="option3">
										<ul class="list-posts">
											{% for element in events %}
											{% if forloop.counter < 6 %}
											<li>
												<img src="{{element.image.url}}" alt="">
												<div class="post-content">
													<h2><a href="{% url 'home:event_show' element.id %}">{{element.title}} </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>{{element.date| date:"d F Y"}}</li>
													</ul>
												</div>
											</li>
											{% endif %}
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>

							{% include 'layouts/video.html' %}
							{% include 'layouts/tags.html' %}

						</div>
						<!-- End sidebar -->

					</div>

				</div>

			</div>
		</section>
		<!-- End block-wrapper-section -->

	{% endblock %}