<div class="share-post-box">
    <ul class="share-box">
        <li><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}" target='_blank'><i class="fa fa-facebook"></i><span>Partager sur Facebook</span></a></li>
        <li><a class="twitter" href="http://twitter.com/share?text={{ element.title }}&url={{ request.build_absolute_uri }}" target='_blank'><i class="fa fa-twitter"></i><span>Partager sur Twitter</span></a></li>
    </ul>
</div>