
<div class="widget tags-widget">

    <div class="title-section">
        <h1><span>Tags Populaires</span></h1>
    </div>

    <ul class="tag-list">
        <li><a href="#">News</a></li>
        <li><a href="#">Mode</a></li>
        <li><a href="#">Politique</a></li>
        <li><a href="#">Sport</a></li>
        <li><a href="#">Nourriture</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Voyage</a></li>
        <li><a href="#">Monde</a></li>
        <li><a href="#">Musique</a></li>
    </ul>

</div>