{% extends 'layouts/base2.html' %}
	{% block content %}

		<!-- heading-news-section2
			================================================== -->
		<section class="heading-news2">

			<div class="container">

				<div class="iso-call heading-news-box">
					<div class="image-slider snd-size">
						<span class="top-stories">A LA UNE </span>
						<div id="UnePhoto" class="news-post image-post">
							{% for element in actu_articles %}
							{% if forloop.counter == 1%}
							<img src="{{element.image.url}}" alt="">
							<div class="hover-box">
								<div class="inner-hover">
									<a class="category-post" href="{% url 'home:article' id=element.id %}">ACTU</a>
									<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>{{element.date | date:"d F Y"}}</li>
										<li><i class="fa fa-user"></i>Par <a href="#">{{element.author}}</a></li>
										<li><a href="#"><i class="fa fa-comments-o"></i><span>{{element.comments_num}}</span></a></li>
										<li><i class="fa fa-eye"></i>{{element.post_views}}</li>
									</ul>
								</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>

					<div id="Une1" class="news-post image-post default-size">
						{% for element in societe_articles %}
						{% if forloop.counter == 1%}
						<img src="{{element.image.url}}" alt="">
						<div class="hover-box">
							<div class="inner-hover">
								<a class="category-post" href="{% url 'home:societe'%}">SOCIETE</a>
								<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
								<ul class="post-tags">
									<li><i class="fa fa-clock-o"></i><span>{{element.date | date:"d F Y"}}</span></li>
									<li><a href="#"><i class="fa fa-comments-o"></i><span>{{element.comments_num}}</span></a></li>
								</ul>
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>

					<div class="news-post image-post" id="lamb">
						{% for element in homme_articles %}
						{% if forloop.counter == 1 %}
						<img src="{{element.image.url}}" alt="">
						<div class="hover-box">
							<div class="inner-hover">
								<a class="category-post" href="{% url 'home:article' id=element.id %}">L'HOMME DE LA SEMAINE</a>
								<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
								<ul class="post-tags">
									<li><i class="fa fa-clock-o"></i><span>{{element.date | date:"d F Y"}}</span></li>
									<li><a href="#"><i class="fa fa-comments-o"></i><span>{{element.comments_num}}</span></a></li>
								</ul>
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>

					<div class="news-post image-post" id="player_of_week">
						{% for element in culture_articles %}
						{% if forloop.counter == 1%}
						<img src="{{element.image.url}}" alt="">
						<div class="hover-box">
							<div class="inner-hover">
								<a class="category-post" href="{% url 'home:culture' %}">CULTURE</a>
								<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
								<ul class="post-tags">
									<li><i class="fa fa-clock-o"></i><span>{{element.date | date:"d F Y"}}</span></li>
									<li><a href="#"><i class="fa fa-comments-o"></i><span>{{element.comments_num}}</span></a></li>
								</ul>
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>

				</div>
			</div>

		</section>
		<!-- End heading-news-section -->

		<!-- block-wrapper-section
			================================================== -->
		<section class="block-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">

						<!-- block content -->
						<div class="block-content">

							<!-- carousel box -->
							<div class="carousel-box owl-wrapper">
								<div class="title-section">
									<h1><span>ACTUALITE </span></h1>
								</div>
								<div class="owl-carousel" data-num="3">
									{% for element in actu_articles %}
									{% if forloop.counter > 1 %}
									<div class="item news-post video-post" id="actu_item">
										<img src="{{element.image.url}}" alt="">

										<div class="hover-box">
											<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
											<ul class="post-tags">
												<li><i class="fa fa-clock-o"></i>{{element.date | date:"d F Y"}}</li>
											</ul>
										</div>
									</div>
									{% endif %}
									{% endfor %}

								</div>
							</div>
							<!-- End carousel box -->

							<!-- grid box -->
							<div class="grid-box">

								<div class="title-section">
									<h1><span>ON EN PARLE</span></h1>
								</div>

								<ul class="category-filter-posts">
									<li><a class="active" href="#Une_tout">TOUT</a></li>
									<li><a href="#Une_actu">ACTU</a></li>
									<li><a href="#Une_societe">SOCIETE</a></li>
									<li><a href="#Une_international">INTERNATIONAL</a></li>
									<li><a href="#Une_article">ARTICLES</a></li>
								</ul>

								<div class="row">
									<div class="col-md-6">
										<div class="news-post standard-post2">
											{% for element in societe_articles %}
											{% if forloop.counter == 2 %}
											<div class="post-gallery">
												<img src="{{element.image.url}}" alt="">
												<a class="category-post" href="{% url 'home:societe' %}">SOCIETE</a>
											</div>
											<div class="post-title">
												<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
												<p id="posttitle_p">{{element.body | truncatewords:30}}</p>
												<ul class="post-tags">
													<li><i class="fa fa-clock-o"></i>{{element.date | date:"d F Y"}}</li>
													<li><i class="fa fa-user"></i>Par <a href="#">{{element.author}}</a></li>
													<li><a href="#"><i class="fa fa-comments-o"></i><span>{{element.comments_num}}</span></a></li>
													<li><i class="fa fa-eye"></i>{{element.post_views}}</li>
												</ul>
											</div>
											{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="col-md-6" id="Une_actu">
										<ul class="list-posts">
											{% for element in actu_articles %}
											{% if forloop.counter > 1 and forloop.counter < 4 %}
											<li>
												<img src="{{element.image.url}}" alt="">
												<div class="post-content">
													<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>{{element.date}}</li>
													</ul>
												</div>
											</li>
											{% endif %}
											{% endfor %}
										</ul>
									</div>
									<div class="col-md-6" id="Une_international">
										<ul class="list-posts">
											{% for element in international_articles %}
											{% if forloop.counter < 3 %}
											<li>
												<img src="{{element.image.url}}" alt="">
												<div class="post-content">
													<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>{{element.date}}</li>
													</ul>
												</div>
											</li>
											{% endif %}
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<!-- End grid box -->

							<!-- carousel-box -->
							<div class="carousel-box">
								<div class="row">

									<div class="col-md-6">
										<div class="title-section">
											<h1><span>SPORT</span></h1>
										</div>

										<div class="owl-wrapper">
											<div class="owl-carousel" data-num="1">
												<div class="item">
													{% for element in sport_articles %}
													{% if forloop.counter == 1 %}
													<div class="news-post standard-post2">
														<div class="post-gallery">
															<img src="{{element.image.url}}" alt="">
														</div>
														<div class="post-title">
															<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}} </a></h2>
															<ul class="post-tags">
																<li><i class="fa fa-user"></i>Par <a href="#">{{element.author}}</a></li>
																<li><a><i class="fa fa-comments-o"></i><span>{{element.comments_num}}</span></a></li>
																<li><i class="fa fa-eye"></i>{{element.post_views}}</li>
															</ul>
														</div>
													</div>
													{% endif %}
													{% endfor %}
													<ul class="list-posts">
													{% for element in sport_articles %}
													{% if forloop.counter > 2 and forloop.counter < 6 %}
														<li>
															<div class="post-content">
																<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
																<ul class="post-tags">
																	<li><i class="fa fa-clock-o"></i>{{element.date}}</li>
																</ul>
															</div>
														</li>
													{% endif %}
													{% endfor %}
													</ul>
												</div>

												<div class="item">
													{% for element in sport_articles %}
													{% if forloop.counter == 2 %}
													<div class="news-post standard-post2">
														<div class="post-gallery">
															<img src="{{element.image.url}}" alt="">
														</div>
														<div class="post-title">
															<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
															<ul class="post-tags">
																<li><i class="fa fa-user"></i>Par <a href="#">{{element.author}}</a></li>
																<li><a><i class="fa fa-comments-o"></i><span>{{element.comments_num}}</span></a></li>
																<li><i class="fa fa-eye"></i>{{element.post_views}}</li>
															</ul>
														</div>
													</div>
													{% endif %}
													{% endfor %}
													<ul class="list-posts">
													{% for element in sport_articles %}
													{% if forloop.counter > 2 and forloop.counter < 6 %}
														<li>
															<div class="post-content">
																<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
																<ul class="post-tags">
																	<li><i class="fa fa-clock-o"></i>{{element.date}}</li>
																</ul>
															</div>
														</li>
													{% endif %}
													{% endfor%}
													</ul>
												</div>

											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="title-section">
											<h1><span>CULTURE</span></h1>
										</div>

										<div class="owl-wrapper">
											<div class="owl-carousel" data-num="1">
												<div class="item">
													{% for element in culture_articles %}
													{% if forloop.counter == 1 %}
													<div class="news-post standard-post2">
														<div class="post-gallery">
															<img src="{{element.image.url}}" alt="">
														</div>
														<div class="post-title">
															<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
															<ul class="post-tags">
																<li><i class="fa fa-user"></i>Par <a href="#">{{element.author}}</a></li>
																<li><a><i class="fa fa-comments-o"></i><span>{{element.comments_num}}</span></a></li>
																<li><i class="fa fa-eye"></i>{{element.post_views}}</li>
															</ul>
														</div>
													</div>
													{% endif %}
													{% endfor %}
													<ul class="list-posts">
														{% for element in culture_articles %}
														{% if forloop.counter > 2 and forloop.counter < 6 %}
														<li>
															<div class="post-content">
																<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
																<ul class="post-tags">
																	<li><i class="fa fa-clock-o"></i>{{element.date}}</li>
																</ul>
															</div>
														</li>
														{% endif %}
														{% endfor %}
													</ul>
												</div>


												<div class="item">
													{% for element in culture_articles %}
													{% if forloop.counter == 2 %}
													<div class="news-post standard-post2">
														<div class="post-gallery">
															<img src="{{element.image.url}}" alt="">
														</div>
														<div class="post-title">
															<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
															<ul class="post-tags">
																<li><i class="fa fa-user"></i>Par <a href="#">{{element.author}}</a></li>
																<li><a><i class="fa fa-comments-o"></i><span>{{element.comments_num}}</span></a></li>
																<li><i class="fa fa-eye"></i>{{element.post_views}}</li>
															</ul>
														</div>
													</div>
													{% endif %}
													{% endfor %}
													<ul class="list-posts">
														{% for element in culture_articles %}
														{% if forloop.counter > 2 and forloop.counter < 6 %}
														<li>
															<div class="post-content">
																<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
																<ul class="post-tags">
																	<li><i class="fa fa-clock-o"></i>{{element.date}}</li>
																</ul>
															</div>
														</li>
														{% endif %}
														{% endfor %}
													</ul>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
							<!-- End grid box -->

							<!-- galery box -->
							<div class="galery-box">

								<div class="title-section">
									{% for element in album  %}
									<h1><span>{{element.title}}</span></h1>
									<p id='author_album'>Par {{element.description}}</p>
									{% endfor %}
								</div>

								<div class="left-holder">
									{% for element in album %}
									<ul class="slider-call2">
										<li><img src="{{element.image1.url}}" alt=""/></li>
										<li><img src="{{element.image2.url}}" alt=""/></li>
										<li><img src="{{element.image3.url}}" alt=""/></li>
										<li><img src="{{element.image4.url}}" alt=""/></li>
										<li><img src="{{element.image5.url}}" alt=""/></li>
									</ul>

								</div>
								<div id="bx-pager2">
									<a data-slide-index="0" href=""><img src="{{element.image1.url}}" alt=""/></a>
									<a data-slide-index="1" href=""><img src="{{element.image2.url}}" alt=""/></a>
									<a data-slide-index="2" href=""><img src="{{element.image3.url}}" alt=""/></a>
									<a data-slide-index="3" href=""><img src="{{element.image4.url}}" alt=""/></a>
									<a data-slide-index="4" href=""><img src="{{element.image5.url}}" alt=""/></a>
								</div>
								{% endfor %}
							</div>
							<!-- End galery box -->

							<!-- article box -->
							<div class="article-box">

								<div class="title-section">
									<h1><span>Articles</span></h1>
								</div>
								<div class="news-post article-post">
								{% for element in articles %}
								{% if forloop.counter > 1 and forloop.counter < 5 %}
									<div class="row">
										<div class="col-sm-5">
											<div class="post-gallery">
												<img alt="" src="{{element.image.url}}">
												<a class="category-post" href="{% url 'home:article' id=element.id %}">{{element.intro}}</a>
											</div>
										</div>
										<div class="col-sm-7">
											<div class="post-content">
												<h2><a href="{% url 'home:article' id=element.id %}">{{element.title}}</a></h2>
												<ul class="post-tags">
													<li><i class="fa fa-clock-o"></i>{{element.date}}</li>
													<li><i class="fa fa-user"></i>Par <a href="#">{{element.author}}</a></li>
													<li><a><i class="fa fa-comments-o"></i><span>{{element.comments_num}}</span></a></li>
													<li><i class="fa fa-eye"></i>{{element.post_views}}</li>
												</ul>
												<p>{{element.body | truncatewords:50}}</p>
												<a href="{% url 'home:article' id=element.id %}" class="read-more-button"><i class="fa fa-angle-right"></i><span>Lire Plus</span></a>
											</div>
										</div>
									</div>
									{% endif %}
									{% endfor %}
								</div>
							</div>
							<!-- End article box -->

							<!-- pagination box -->
							<div class="pagination-box">
								<ul class="pagination-list">
									<li><a class="active" href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><span>...</span></li>
									<li><a href="#">9</a></li>
									<li><a href="#">Suivant</a></li>
								</ul>
								<p>Page 1 of 9</p>
							</div>
							<!-- End Pagination box -->

						</div>
						<!-- End block content -->

					</div>

					<div class="col-sm-4">

						<!-- sidebar -->
						<div class="sidebar">
							{% include 'layouts/share.html' %}

							{% include 'layouts/right_content.html'%}					

							{% include 'layouts/video.html'%}

							{% include 'layouts/tags.html'%}

						</div>
						<!-- End sidebar -->

					</div>

				</div>

			</div>
		</section>
		<!-- End block-wrapper-section -->

	{% endblock %}